<%= form_with model: @article do |form| %>
  <div class="mb-3" style="color:white;">
    <%= form.label :title, class: "form-label label" %><br>
    <%= form.text_field :title, class: "form-control" %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3" style="color:white;">
    <%= form.label :body, class: "form-label" %><br>
    <%= form.text_area :body, class: "form-control" %>
    <% @article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3" style="color:white;">
    <%= form.label :picture, class: "form-label" %><br>
    <%= form.file_field :picture, class: "form-control" %>
  </div>

  <div class="mb-3" style="color:white;">
    <%= form.label :status, class: "form-label label" %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </div>

  <div><br>
    <%= form.submit class: "btn btn-outline-light" %>
  </div>
<% end %>
