<!-- REUSABLE PARTIAL FOR EDIT/NEW BLOG POST -->

<%= form_with model: @article, authenticity_token: true do |form| %>
  <div class="mb-3" style="color:white;">
    <%= form.label :title, class: "form-label label" %><br>
    <%= form.text_field :title, class: "form-control" %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3" style="color:white;">
    <%= form.label :content, class: "form-label" %><br>
    <%= form.rich_text_area :content, class: "form-control", direct_upload: true %>
    <% @article.errors.full_messages_for(:content).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3" style="color:white;">
    <%= form.label :picture, class: "form-label" %><br>
    <%= form.file_field :picture, class: "form-control" %>
  </div>

  <div class="mb-3" style="color:white;">
    <%= form.label :status, class: "form-label label" %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </div>

  <div><br>
    <%= form.submit class: "btn btn-outline-light" %>
  </div>
<% end %>
