<%= stylesheet_link_tag "articles"%>

<!-- CONTAINER FOR BLOG ARTICLES -->
<div class="container article-padding mt-5 pt-5">
    <h1>Blog Articles</h1>

    <!-- COUNTER FOR BLOGS REFERENCING ARTICLE PUBLIC COUNT -->
    <p class="mb-3 pb-3">Our blog has <%= Article.public_count %> articles and counting!</p>

    <!-- LIST OF FETCHED BLOG ARTICLES FROM POSTGRES DATABASE -->
    <ul>
        <% @articles.each do |article| %>
            <% unless article.archived? %>
                <li>
                    <%if article.cover_image.present? %>
                        <%= image_tag article.cover_image, class: "coverimg" %>
                    <% end %>
                    <br/>
                    <%= link_to article do %>
                        <h1 class="title"><%= article.title %></h1>
                    <% end%>
                    <%if article.header.present? %>
                        <p><%= article.header %></p>
                    <% end %>
                </li>
            <% end %>
        <% end %>
    </ul>
    <br/>

    <!-- LINK TO NEW ARTICLE PATH -->
    <!-- <%= link_to "New Article", new_article_path, class: "btn btn-outline-light link" %> -->
</div>
