<div class="container article-padding mt-5 pt-5">
  <h1 class="gradient mb-4 pb-4"><%= @article.title %></h1>

  <p class="mb-2 pb-2"><%= @article.body %></p>

  <div class="mb-3 pb-3">
    <%= link_to edit_article_path(@article), class: "link" do %>
      <button type="button" class="btn btn-outline-light">Edit</button>
    <% end %>

    <%= link_to article_path(@article), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    }, class: "link" do %>
      <button type="button" class="btn btn-outline-light">Delete</button>
    <% end %>
  </div>

  <h2>Comments</h2><br>
  <%= render @article.comments %>

  <h2>Add a comment:</h2><br>
  <%= render 'comments/form' %>
</div
