<%= stylesheet_link_tag "home"%>
<%= javascript_include_tag('application.js') %>
<!-- CAROUSEL BOOTSTRAP INTEGRATION -->
<div id="maincarousel" class="carousel slide my-carousel carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#maincarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide1"></button>
    <button type="button" data-bs-target="#maincarousel" data-bs-slide-to="1" aria-label="Slide2"></button>
    <button type="button" data-bs-target="#maincarousel" data-bs-slide-to="2" aria-label="Slide3"></button>
  </div>
  <div class="carousel-inner">
    <!-- 1ST SLIDE -->
    <div class="carousel-item active c-item">
        <%= image_tag "caro1.avif", class: "d-block w-100 c-img", alt: "slide1" %>
        <div class="carousel-caption d-none d-md-block">
            <h1 class="mb-3 caro-text fs-1">First-class Experience with <b>AppDev, WebDev & DevOps</b></h1>
            <p class="font-monospace caro-text fs-4">Satisfying Customers & Employers alike with <i>reliable, fast & scalable</i> solutions!</p>

            <!-- Contact socials images -->
            <div class="icon-wrapper mb-3">
              <a href="https://www.instagram.com/jpgiodevs/"><img src="https://cdn-icons-png.flaticon.com/512/1077/1077042.png" class="contacts-icon" alt="instaicon"></a>
              <a href="https://github.com/JPGIODevs"><img src="https://cdn-icons-png.flaticon.com/512/1322/1322104.png" class="contacts-icon" alt="instaicon"></a>
              <a href="mailto:jpgiodevelopments@gmail.com"><img src="https://cdn-icons-png.flaticon.com/512/2089/2089181.png" class="contacts-icon" alt="instaicon"></a>
              <a href="https://www.linkedin.com/in/jack-packham-b197b6261/"><img src="https://cdn-icons-png.flaticon.com/512/2582/2582575.png" class="contacts-icon" alt="instaicon"></a>
            </div>
            <%= link_to "https://drive.google.com/file/d/138vcpur62476079_W1XzLPlEyyHcaj71/view?usp=sharing" do %>
                <button type="button" class="btn btn-outline-light shadow resume-button">Download Resume</button>
            <% end%>
        </div>
     </div>
    <!-- 2ND SLIDE -->
    <div class="carousel-item c-item">
      <%= image_tag "caro2.png", class: "d-block w-100 c-img", alt: "slide2" %>
      <div class="carousel-caption d-none d-md-block">
        <h1 class="mb-3 caro-text fs-1"><b>Passion</b> in modern technology</h1>
        <p class="font-monospace caro-text fs-4">Heavily invested into future technologies such as <i>Rust, Svelte, Pocketbase, SurrealDB</i> & more!</p>

        <!-- Contact socials images -->
        <div class="icon-wrapper mb-3">
          <a href="https://www.instagram.com/jpgiodevs/"><img src="https://cdn-icons-png.flaticon.com/512/1077/1077042.png" class="contacts-icon small" alt="instaicon"></a>
          <a href="https://github.com/JPGIODevs"><img src="https://cdn-icons-png.flaticon.com/512/1322/1322104.png" class="contacts-icon small" alt="instaicon"></a>
          <a href="mailto:jpgiodevelopments@gmail.com"><img src="https://cdn-icons-png.flaticon.com/512/2089/2089181.png" class="contacts-icon small" alt="instaicon"></a>
          <a href="https://www.linkedin.com/in/jack-packham-b197b6261/"><img src="https://cdn-icons-png.flaticon.com/512/2582/2582575.png" class="contacts-icon small" alt="instaicon"></a>
        </div>
        <%= link_to "https://drive.google.com/file/d/138vcpur62476079_W1XzLPlEyyHcaj71/view?usp=sharing" do %>
          <button type="button" class="btn btn-outline-light shadow resume-button">Download Resume</button>
        <% end%>
      </div>
    </div>
    <!-- 3RD SLIDE -->
    <div class="carousel-item c-item">
      <%= image_tag "caro3.avif", class: "d-block w-100 c-img", alt: "slide3" %>
      <div class="carousel-caption d-none d-md-block">
        <h1 class="mb-3 caro-text fs-1">Delivering solutions that just <b>Work!</b></h1>
        <p class="font-monospace caro-text fs-4">Utilising existing technologies with mature codebases to develop products that <i>work reliably!</i></p>

        <!-- Contact socials images -->
        <div class="icon-wrapper mb-3">
          <a href="https://www.instagram.com/jpgiodevs/"><img src="https://cdn-icons-png.flaticon.com/512/1077/1077042.png" class="contacts-icon small" alt="instaicon"></a>
          <a href="https://github.com/JPGIODevs"><img src="https://cdn-icons-png.flaticon.com/512/1322/1322104.png" class="contacts-icon small" alt="instaicon"></a>
          <a href="mailto:jpgiodevelopments@gmail.com"><img src="https://cdn-icons-png.flaticon.com/512/2089/2089181.png" class="contacts-icon small" alt="instaicon"></a>
          <a href="https://www.linkedin.com/in/jack-packham-b197b6261/"><img src="https://cdn-icons-png.flaticon.com/512/2582/2582575.png" class="contacts-icon small" alt="instaicon"></a>
        </div>
        <%= link_to "https://drive.google.com/file/d/138vcpur62476079_W1XzLPlEyyHcaj71/view?usp=sharing" do %>
          <button type="button" class="btn btn-outline-light shadow resume-button">Download Resume</button>
        <% end%>
      </div>
    </div>
</div>
  <button class="carousel-control-prev" type="button" data-bs-target="#maincarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#maincarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- PRETTY SVG DATA, NOT SO PRETTY :( -->
<div class="pretty-shape" style="padding-top:96.7vh;">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
      <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
      <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
  </svg>
</div>
<!-- hackiest way of getting around absolute elements -->
<br/>

<!-- ABOUT ME SECTION -->
<div class="container pt-3 mt-3">
  <h1 class="hidden right-slide sectionheader mb-3 pb-3">About me</h1>
  <div class='row mt-3 pt-3'>
    <div class="col">
      <%= image_tag "aboutimg.jpg", class: "rounded shadow-lg about-img"%>
      <br/>
    </div>
    <div class="col about-desc hidden">
      <h2 style="margin-bottom:15px;"><b>An insight to me...</b></h2>
      <p>I am a <b>Jack, A Software developer and Entrepeneur</b>, founding my sole-proprietary business of <b>JPGIO Developments</b>
        in Q1 of 2023 with major personal success! Having <b>over a decade</b> of experience within numerous sectors of
        software development, ranging from <b>DevOps </b>(Delivery, dockerisation, Cloud) to <b>Data-Science</b>
        (Pandas, Tensorflow, NumPy) to <b>Full-Stack developments</b> (Rails, svelte, bootstrap, HTML/CSS/JS).</p>
      <p>Such examples, <b>including this very website</b>, are documented below.
      As well as the experienced background, I also have an extensive academic background in the business sector which adds
      <b>further value</b> to my work as a professional Software Developer. This includes GSCE's and A-levels to grade-A standards
      in multiple STEM curriculums, including first-and-foremost, <b>Computer-Science.</b></p>
    </div>
  </div>
</div>

<!-- EXPERTISE SECTION -->
<div class="container expertise">
  <div class='container' style="padding: 40vh 5vh 5vh 5vh;">
    <h1 class="hidden left-slide sectionheader">Expertise</h1>
    <br/>
  </div>
  <!-- 1st row, names and chonky underlines -->
  <div class="hidden expertise-container">
    <div class="row align-items-end expertise row-cols-4 g-2 pt-3 mt-4">

      <div class="col">
        <h3 class="font-monospace text-white chonkyblue">Software Dev</h3>
        <br/>
        </div>

      <div class="col">
        <h3 class="font-monospace text-white chonkyorange">Web Development</h3>
        <br/>
        </div>

      <div class="col">
        <h3 class="font-monospace text-white chonkygreen">Mobile Solutions</h3>
        <br/>
        </div>

      <div class="col">
        <h3 class="font-monospace text-white chonkypurple">Databases</h3>
        <br/>
        </div>
    </div>

    <!-- 2nd row, icons -->

    <div class="row align-items-center expertise row-cols-4 g-2 mt-1">
      <div class="col">
        <img src="https://cdn-icons-png.flaticon.com/512/4299/4299932.png" style="filter:invert(1); width:30%;">
      </div>
      <div class="col">
        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968566.png" style="filter:invert(1); width:25%;">
      </div>
      <div class="col">
        <img src="https://cdn-icons-png.flaticon.com/512/831/831378.png" style="filter:invert(1); width:25%;">
      </div>
      <div class="col">
        <img src="https://cdn-icons-png.flaticon.com/512/5815/5815886.png" style="filter:invert(1);width:25%">
      </div>
    </div>

    <!-- 3rd row, descriptions -->

    <div class="row align-items-start expertise row-cols-4 g-2 mt-3 font-monospace";">
      <div class="col">
        <h5 class="expt"><b class="expt">Over a Decade</b> of experience in <i>OOP</i> and <i>Functional Software Development</i>.
        Starting with <b class="expt">BATCH & C#</b>,<br/> working into using <b class="expt">Python, Rust,  Ruby, C/C++ & JS/TS</b> professionally.</h5>
      </div>
      <div class="col">
        <h5 class="expt"><b class="expt">Extensive experience</b> across a range of
        <b class="expt">Frontend & Backend technologies</b>. Examples are a <i>Huge Background</i> in
        <b class=expt>Rails + Hotwire & SvelteKit</b> as well as <b class=expt>HTML/CSS/JS & Bootstrap + TailwindCSS for UI.</b></h5>
      </div>
      <div class="col">
        <h5 class="expt">Projects such as <b class="expt">Tauri-Tasks & READER ebook</b>
        Demonstrate my <b class="expt">ability to design, plan and create</b> Cross-Platform <i>Mobile Applications</i>
        using technologies such as <b class="expt">Flutter, Swift and Tauri.</b></h5>
      </div>
      <div class="col">
        <h5 class="expt"><b class="expt">Full-stack Development</b> has pushed me
        to be efficient in <b class="expt">SQLite3, MySQL, REDIS & PostgreS</b> as well as using
        platforms such as <b class="expt">Docker routinely!</b> Ensuring <i>Delivery, Modularity & Scalability!</i></h5>
      </div>
    </div>
  </div>
</div>
<!-- PROJECTS SECTION -->
<div class="container hidden right-slide" style="padding-top:35vh;">
  <h1 class="sectionheader">Projects</h1>
</div>

<!-- ROWS FOR PROJECTS SECTION CARDS -->
<div class="row row-cols-3 row-cols-md-3 g-4 p-5">
  <%= link_to projects_portfolio_path, class: "link" do %>
    <div class="col">
      <!-- RAILS PROJECT CARD -->
      <div class="card hidden bg-dark border-secondary">
        <div class="image-wrapper">
          <%= image_tag "project-cards/hover/card1.gif", class: "cardimg", alt: "rubyhover", id: "rubyimg"%>
          <%= image_tag "project-cards/card1.png", class: "cardimg", alt: "rubyanimate"%>
        </div>
        <div class="card-body">
          <h5 class="card-title card-header"><b>On-Rails Portfolio</b></h5>
          <p class="card-text">A ruby-on-rails portfolio, integrating <b>SQLite3</b> and <b>Bootstrap 5</b> to create a response, reactive & scalable personal portfolio.</p>
        </div>
      </div>
    </div>
  <% end %>

  <%= link_to projects_gotasks_path, class: "link" do %>
    <div class="col">
      <!-- GO-TASKS PROJECT CARD -->
      <div class="card hidden bg-dark border-secondary">
        <div class="image-wrapper">
            <%= image_tag "https://www.thames-exams.co.uk/wp-content/uploads/2018/01/Placeholder.png", class: "cardimg", alt: "gohover", id: "goimg"%>
            <%= image_tag "project-cards/card2.png", class: "cardimg", alt: "goanimate"%>
        </div>
        <div class="card-body">
          <h5 class="card-title card-header"><b>GO Tasks</b></h5>
          <p class="card-text">A conceptual task-manager and notepad made for cross-platform usage via using the Wails framework with GO (lang)</p>
        </div>
      </div>
    </div>
  <% end %>
  <%= link_to projects_manifold_path, class: "link" do %>
    <div class="col">
      <!-- Manifold-chat PROJECT CARD -->
      <div class="card hidden bg-dark border-secondary">
        <div class="image-wrapper">
            <%= image_tag "https://www.thames-exams.co.uk/wp-content/uploads/2018/01/Placeholder.png", class: "cardimg", alt: "manifoldhover", id: "manifoldimg"%>
            <%= image_tag "project-cards/card6.png", class: "cardimg", alt: "manifoldanimate"%>
        </div>
        <div class="card-body">
          <h5 class="card-title card-header"><b>Manifold Chat</b></h5>
          <p class="card-text">A real-time chat app created using Ruby-on-Rails alongside Hotwire (Turbo-streams), with an Electron desktop-app.</p>
        </div>
      </div>
    </div>
  <% end %>
  <%= link_to projects_ps1horror_path, class: "link" do %>
    <div class="col">
      <!-- PS1 C# GAME PROJECT CARD -->
      <div class="card hidden bg-dark border-secondary">
        <div class="image-wrapper">
            <%= image_tag "https://www.thames-exams.co.uk/wp-content/uploads/2018/01/Placeholder.png", class: "cardimg", alt: "csharphover", id: "csharpimg"%>
            <%= image_tag "project-cards/card3.png", class: "cardimg", alt: "csharpanimate"%>
        </div>
        <div class="card-body">
          <h5 class="card-title card-header"><b>PS1-styled C# game</b></h5>
          <p class="card-text">A short horror game in the style of a Playstation-1 console, Utlising the Unity engine & C#</p>
        </div>
      </div>
    </div>
  <% end %>
  <%= link_to projects_twilioAI_path, class: "link" do %>
    <div class="col">
      <!-- GPT3/TWILIO SMSBOT PROJECT CARD -->
      <div class="card hidden bg-dark border-secondary">
        <div class="image-wrapper">
            <%= image_tag "https://www.thames-exams.co.uk/wp-content/uploads/2018/01/Placeholder.png", class: "cardimg", alt: "bothover", id: "botimg"%>
            <%= image_tag "project-cards/card4.png", class: "cardimg", alt: "botanimate"%>
          </div>
        <div class="card-body">
          <h5 class="card-title card-header"><b>GPT-3 / Twilio chatbot</b></h5>
          <p class="card-text">Using the <b>OpenAI GPT model</b> and <b>Twilio SMS</b> in conjunction with Python to create an AI text-bot </p>
        </div>
      </div>
    </div>
  <% end %>
  <%= link_to projects_reader_path, class: "link" do %>
    <div class="col">
      <!-- FLUTTER EBOOK PROJECT CARD-->
      <div class="card hidden bg-dark border-secondary">
        <div class="image-wrapper">
            <%= image_tag "https://www.thames-exams.co.uk/wp-content/uploads/2018/01/Placeholder.png", class: "cardimg", alt: "readerhover", id: "readerimg"%>
            <%= image_tag "project-cards/card5.png", class: "cardimg", alt: "readeranimate"%>
          </div>
        <div class="card-body">
          <h5 class="card-title card-header"><b>Flutter E-Book app</b></h5>
          <p class="card-text">A <b>Flutter</b> approach to <b>cross-platform</b> mobile development, showcased via an E-Book reader app</p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- another seperating div -->
<div class="p-5 m-5">
  <br/>
</div>
