<!-- CAROUSEL BOOTSTRAP INTEGRATION -->
<div id="carouselExampleCaptions" class="carousel slide carousel-fade shadow-lg my-carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
    <!-- 1ST SLIDE -->
    <div class="carousel-item active c-item">
      <img src="assets/caro1.avif" class="d-block w-100 c-img" alt="slide1">
      <div class="carousel-caption top-50 d-none d-md-block">
        <h1 class="mb-3">First-class Experience with <b>AppDev, WebDev & DevOps</b></h1>
        <p class="font-monospace">Satisfying Customers & Employers alike with <i>reliable, fast & scalable</i> solutions!</p>
        <%= link_to home_resume_path do %>
          <button type="button" class="btn btn-outline-light shadow resume-button">Download Resume</button>
        <% end%>
      </div>
    </div>
    <!-- 2ND SLIDE -->
    <div class="carousel-inner shadow-4-strong">
    <div class="carousel-item c-item">
      <img src="assets/caro2.png" class="d-block w-100 c-img" alt="slide2">
      <div class="carousel-caption top-50 d-none d-md-block">
        <h1 class="mb-3"><b>Passion</b> in modern technology</h1>
        <p class="font-monospace">Heavily invested into future technologies such as <i>Rust, Svelte, Pocketbase, SurrealDB</i> & more!</p>
        <%= link_to home_resume_path do %>
          <button type="button" class="btn btn-outline-light shadow resume-button">Download Resume</button>
        <% end%></div>
    </div>
    <!-- 3RD SLIDE -->
    <div class="carousel-item c-item">
      <img src="assets/caro3.avif" class="d-block w-100 c-img" alt="slide3">
      <div class="carousel-caption top-50 d-none d-md-block shadow-lg">
        <h1 class="mb-3">Delivering solutions that just <b>Work!</b></h1>
        <p class="font-monospace">Utilising existing technologies with mature codebases (Rails, C, MySQL & More) to develop products that <i>work reliably!</i></p>
        <br/>
        <%= link_to home_resume_path do %>
          <button type="button" class="btn btn-outline-light shadow resume-button pt-3 mt-3">Download Resume</button>
        <% end%>
      </div>
    </div>
  </div>
  <!-- CAROUSEL BUTTONS -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- CURVY SVG SHAPE TO BLEND CAROUSEL NICELY -->
<div class="caro-shape">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
        <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
        <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
    </svg>
</div>

<!-- ABOUT ME SECTION -->

<div class="container"  style="padding-top:70%">
  <h1 style="text-align:center;font-size:50px;">About me</h1>
  <div class='row' style="padding-top:10%;padding-bottom:10%;">
    <div class="col">
      <img src="https://www.nomadfoods.com/wp-content/uploads/2018/08/placeholder-1-e1533569576673.png" style="height:50vh;">
      <br/>
    </div>
    <div class="col">
      <h2 style="margin-bottom:15px;color:white;text-align:right;"><b>An insight to me...</b></h2>
      <p style="text-align:right;">I am a <b>Software developer and Entrepeneur</b>, founding my sole-proprietary business of <b>JPGIO Developments</b>
        in Q1 of 2023 with major personal success! Having <b>over a decade</b> of experience within numerous sectors of
        software development, ranging from <b>DevOps </b>(Delivery, dockerisation, Cloud) to <b>Data-Science</b>
        (Pandas, Tensorflow, NumPy) to <b>Full-Stack developments</b> (Rails, svelte, bootstrap, HTML/CSS/JS).</p>
      <p style="text-align:right;">Such examples, <b>including this very website</b>, are documented below. Click THIS LINK to view projects portfolio.
      As well as the experienced background, I also have an extensive academic background in the business sector which adds
      <b>further value</b> to my work as a professional Software Developer. This includes GSCE's and A-levels to A standards
      in multiple STEM curriculums, including first-and-foremost, <b>Computer-Science</b></p>
    </div>
  </div>
</div>

<!-- EXPERTISE SECTION -->
<div class='container' style="padding-top:10%">
  <h1 style="text-align:center;font-size:50px;">Expertise</h1>
  <br/>
  <img src="/assets/expertise.png" class="expertise-img shadow" alt="expertise image">
  <br/>
</div>

<!-- PROJECTS SECTION -->
<div class="container" style="padding-top:10%">
  <h1 style="text-align:center;font-size:50px;">Projects</h1>
</div>

<!-- ROWS FOR PROJECTS SECTION CARDS -->
<div class="row row-cols-3 row-cols-md-3 g-4 p-5">
  <div class="col">
    <!-- RAILS PROJECT CARD -->
    <div class="card bg-dark border-secondary">
      <img src="assets/project-cards/card1.png" class="card-img-top" alt="rails">
      <div class="card-body">
        <h5 class="card-title card-header"><b>On-Rails Portfolio</b></h5>
        <p class="card-text">A ruby-on-rails portfolio, integrating <b>SQLite3</b> and <b>Bootstrap 5</b> to create a response, reactive & scalable personal portfolio.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <!-- TAURUS-TASKS PROJECT CARD -->
    <div class="card bg-dark border-secondary">
      <img src="assets/project-cards/card2.png" class="card-img-top" alt="tauri">
      <div class="card-body">
        <h5 class="card-title card-header"><b>Tauri Tasks</b></h5>
        <p class="card-text">A conceptual task-manager and notepad made for cross-platform usage via using the Tauri framework with Rust</p>
      </div>
    </div>
  </div>
  <div class="col">
    <!-- PS1 C# GAME PROJECT CARD -->
    <div class="card bg-dark border-secondary">
      <img src="assets/project-cards/card3.png" class="card-img-top w-90% h-90%" alt="python">
      <div class="card-body">
        <h5 class="card-title card-header"><b>PS1-styled C# game</b></h5>
        <p class="card-text">A short horror game in the style of a Playstation-1 console, Utlising the Unity engine & C#</p>
      </div>
    </div>
  </div>
  <div class="col">
    <!-- GPT3/TWILIO SMSBOT PROJECT CARD -->
    <div class="card bg-dark border-secondary">
      <img src="https://www.nomadfoods.com/wp-content/uploads/2018/08/placeholder-1-e1533569576673.png" class="card-img-top w-90% h-90%" alt="python">
      <div class="card-body">
        <h5 class="card-title card-header"><b>GPT-3 / Twilio chatbot</b></h5>
        <p class="card-text">Using the <b>OpenAI GPT-3 model</b> and <b>Twilio SMS-service</b> as part of Python3 Libraries to create an automated AI text-bot </p>
      </div>
    </div>
  </div>
  <div class="col">
    <!-- FLUTTER EBOOK PROJECT CARD-->
    <div class="card bg-dark border-secondary">
      <img src="https://www.nomadfoods.com/wp-content/uploads/2018/08/placeholder-1-e1533569576673.png" class="card-img-top w-90% h-90%" alt="python">
      <div class="card-body">
        <h5 class="card-title card-header"><b>Flutter E-Book app</b></h5>
        <p class="card-text">A <b>Dart-Flutter</b> approach to <b>cross-platform</b> mobile development, showcased in the form of an E-Book reader</p>
      </div>
    </div>
  </div>
</div>
<!-- CONTACTS AND SOCIALS -->
<div class="container" style="padding: 10%">
  <h1 style="text-align:center;font-size:50px;">Contacts</h1>
</div>

<!-- Twitter -->
<div class="icon-wrapper">
  <%= link_to home_resume_path do %>
    <img src="https://cdn-icons-png.flaticon.com/512/1077/1077042.png" class="contacts-icon" alt="instaicon">

  <% end%>
  <%= link_to home_resume_path do %>
    <img src="https://cdn-icons-png.flaticon.com/512/1322/1322104.png" class="contacts-icon" alt="instaicon">
  <% end%>
  <%= link_to home_resume_path do %>
    <img src="https://cdn-icons-png.flaticon.com/512/2089/2089181.png" class="contacts-icon" alt="instaicon">
  <% end%>
  <%= link_to home_resume_path do %>
    <img src="https://cdn-icons-png.flaticon.com/512/2582/2582575.png" class="contacts-icon" alt="instaicon">
  <% end%>

</div>
