<%= stylesheet_link_tag "contacts"%>

<div class="container mt-5 pt-5">
    <h1 id="page-title" class="gradient">CONTACTS</h1>
    <br/>
    <h5>As a goal-chaser and Engineer at heart, I always love hearing from new people with exciting prospects
    for future developments. If you have any queries or propositions, feel free to contact me in the following form...</h5>
    <br/>
    <p>Alternatively, scroll below to see my socials :)</p>

    <div class="skinny_wrapper text-left mb-5 pb-5">
        <%= form_with model: @contact do |form|%>

            <div class="mb-3">
                <%= form.label :name, class: "form-label"%>
                <%= form.text_field :name, required: true, class: "form-control" %>
            </div>

            <br/>

            <div class="mb-3">
                <%= form.label :email, class: "form-label"%>
                <%= form.email_field :email, required: true, class: "form-control" %>
            </div>

            <br/>

            <div class="mb-3">
                <%= form.label :message, class: "form-label"%>
                <%= form.text_area :message, as: :text, class: "form-control"%>
            </div>

            <div class="hidden-field">
                <%= form.label :nickname%>
                <%= form.text_field :nickname, hint: "Leave this field blank"%>
            </div>

            <br/>

            <%= form.submit "Send Message", class: "button btn btn-outline-light"%>

        <% end %>
    </div>
</div>
