<%= stylesheet_link_tag "projects"%>

<!-- text stuff -->
<div class="pt-5 mt-5">
    <div class="container">
        <div class='row m-5 p-5 align-items-center'>
            <div class="col">
                <%= image_tag "projects/portfolio/firstdesign.png", class: "projectpic hidden rounded"%>
                <br/>
            </div>

            <div class="col float-text">
                <h1 class="hidden right-slide font-monospace" style="font-size:50px;">How this idea...</h2>
                <p style="color:white;"><b>Born from the mind's eye</b> of a (then) Automotive-Engineer in his spare time.
                <b>Dreaming</b> of becoming involved in the programming eco-system</p>
            </div>
        </div>
    </div>
    <br class="m-5 p-5"/>
    <div class="container">
        <div class='row m-5 p-5 align-items-center'>
            <div class="col float-text">
                <h1 class="hidden left-slide font-monospace" style="font-size:50px;">Became This!</h2>
                <p style="color:white;">A Reactive, Responsive Ruby-on-Rails website Fuelled by <b>Hotwire & Javascript</b>
                for showcasing the work <b>I am proud to be part of!</b></p>
            </div>
            <div class="col" style="right:20vw;text-align:center;">
                <%= image_tag "projects/portfolio/portfinish.png", class: "projectpic portfinish hidden rounded"%>
                <br/>
            </div>
        </div>
    </div>
    <!-- glassy div with picture -->
    <div class="glasscontainer hidden mt-5 pt-5">
        <div class="container">
            <h1><b>Steaming ahead! With Ruby-on-Rails 🛤️</b></h1>
            <h1 id="secondaryh1">old is gold <b>🏅</b></h1>
            <hr/>
            <h5 class="mt-5 font-monospace pb-5">Utilising a mix of <b>Rails 7, Bootstrap 5</b> and some old-fashioned <b>HTML/CSS/JS</b>,
            I have created a personal portfolio website that is <b>Not-Only visually stunning</b>
            but also, thanks to the <b>Hotwire Frontend</b>, is also responsive, reactive and <i>fast!</i>
            <b>Over a period of a couple months</b>, I taught myself the fine details of Rails development
            and nurtued the skill of MVC web development <b>alongside Turbo Frames & Streams.</b>
            So much so, infact, that I created <span><a href=""><b>Manifold Chat</b></a></span> Utilising
            Rails & Hotwire alongside TailwindCSS.
            </h5>
        </div>
        <br/>
        <%= image_tag "projects/portfolio/webpic.png", class: "projectwebpic pb-3 mb-3 rounded hidden", alt: "webpic" %>
    </div>
</div>
<!-- REASONS DIV + 2 COL -->
<div class="container mt-5 pt-5 mb-5 pb-5 leftdiv">
    <div id="inner div" class="hidden left-slide">
        <h1 class="gradient">THE REASON</h1>
        <p>~</p>
        <h5 class="secondarytext">An insight to the technologies I employ on this website, and what that may mean for you!</h5>
        <hr/>
        <h5><b>Many consider Rails dead...</b> I believe it to be more alive than ever!</h5>
        <p>Many people jumped ship to solutions such as <b>Node.js & React</b> causing people to assume rails was dead... I believe the contrary.
        <br/>
        <span><a href="https://insights.stackoverflow.com/survey/2021#overview"><b>The Stackoverflow developer survey 2022</b></a></span>
        showed a <b>6-7% uptake of Ruby and RoR usage</b> which indicates a lively technology to me! Couple this with the
        <b>huge collection of Gems(libaries), mature codebase and documentation</b> and we have a lively
        web development technology!</p>
        <br/>

        <h5><b>Hotwire also adds HUGE value to Rails</b>, providing HTML-centric approach to Responsive & Reactive webapps.</h5>
        <p>The use of Turbo and Stimulus, alongside the Sprockets asset-pipeline, provides an experience of similiar
        speed to a single-page app, without the indoctrination required for said single-page development!
        With all theese advantages, <b>fast development & scalability is made easy with Rails!</b></p>
        <br/>
    </div>
    <div class='row mt-3 pt-3 hidden right-slide'>
        <div class="col">
            <%= image_tag "projects/portfolio/techs.png", class: "rounded about-img w-100", alt: "technologies" %>
            <br/>
        </div>
        <div class="col about-desc rightdiv">
            <h2 style="margin-bottom:15px; font-monospace"><b>Other technologies 🤖</b></h2>
            <p>Ontop of the usual Rails setup, I aimed to make development as fast & functional as possible, utlising
            other technologies to <b>Supercharge</b> my website in a time-frame that was acceptable!
            <br/>

            <h5>First is <b>Styling.</b></h5>
            <p>I used a combination of <b>Bootstrap 5 & ScSS</b>. Having had a background in CSS already,
            I saw it to be more practical to build upon the knowledge rather than to relearn the art using, persay,
            <b>TailwindCSS</b>. This made my custom styling <b>faster and Cleaner</b> as I utilised the nesting available in ScSS.</p>
            <br/>

            <h5>Second is <b>Data Storage.</b></h5>
            <p>In order to facilitate email forms, and <b>my live-chat</b>, <span><%= link_to "Found Here :)", projects_manifold_path%></span>,
            I needed a database. In my experience, <b>SQLite3</b> works well for light-to-medium applications and even <b>outperforms MySQL & Postgres
            in read-heavy applications.</b> As such, I chose said SQLite3 database and associated gems in use in my project, which <b>performed perfectly
            and integrated seemlessly!</p>
        </div>
  </div>
</div>

<!-- results div + 2 col -->
<div class="mt-5 pt-5 mb-5 pb-5 rightdiv glasscontainer">
    <div id="inner div" class="container hidden right-slide">
        <h1 class="gradient">THE RESULT</h1>
        <p>~</p>
        <h5 class="secondarytext">What it was I created, and How it performed!</h5>
        <hr/>
        <p>With some tinkering, including Rails/Hotwire mastery and hours of efficiency fixes for instance, eventually my fully-fledged Rails Portfolio was hosted
        and delivered via <span><%= link_to "Hatchbox.io", "https://hatchbox.io" %></span> to much of my own elation! <br/>
        Overall, I was very pleased with the Rails development experience and how fast the turn-over was, even for a then-Novice Rails developer.<br/>
        The Use of Hotwire Frontend also made the application snappy and I couldnt be happier with the website's performance, even
        if it is a low-traffic portfolio website.</p>
        <br/>
        <h5>Below is a compilation of exemplars of my website</h5>
        <br/>
        <div class="container rounded shadow" id="exemplarcontainer">
            <div id="exemplarcarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active exemplarimg">
                        <img src="https://www.thames-exams.co.uk/wp-content/uploads/2018/01/Placeholder.png" class="d-block w-100" alt="Home">
                    </div>
                    <div class="carousel-item exemplarimg">
                        <img src="https://www.thames-exams.co.uk/wp-content/uploads/2018/01/Placeholder.png" class="d-block w-100" alt="Home2">
                    </div>
                    <div class="carousel-item exemplarimg">
                        <img src="https://www.thames-exams.co.uk/wp-content/uploads/2018/01/Placeholder.png" class="d-block w-100" alt="Resume">
                    </div>
                    <div class="carousel-item exemplarimg">
                        <img src="https://www.thames-exams.co.uk/wp-content/uploads/2018/01/Placeholder.png" class="d-block w-100" alt="Portfolio">
                    </div>
                    <div class="carousel-item exemplarimg">
                        <img src="https://www.thames-exams.co.uk/wp-content/uploads/2018/01/Placeholder.png" class="d-block w-100" alt="Contacts">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- retrospective div + 2 col -->
<div class="container mt-5 pt-5 mb-5 pb-5 leftdiv">
    <div id="inner div" class="hidden left-slide">
        <h1 class="left-slide gradient">THE RETROSPECTIVE</h1>
        <p>~</p>
        <h5 class="secondarytext">An insight to the technologies I employ on this website, and what that may mean for you!</h5>
        <hr/>
        <p>First off is my choice of <b>Ruby-on-Rails</b>. Many people considered RoR to be a dead technology as solutions
        such as Node.js caused many to jumpship. To me, this is simply untrue.
        <span><a href="https://insights.stackoverflow.com/survey/2021#overview"><b>The Stackoverflow developer survey 2022</b></a></span>
        showed a 6-7% uptake of Ruby and RoR usage which indicates a lively technology to me! Couple this with the
        gigantic collection of Gems(libaries), mature codebase and documentation and we have a lively
        web development technology with all the benefits required for fast development & scalability</p>
    </div>
</div>

<!-- contained pictures carousel & specs & link to github -->
<div style="padding-top:40%">
    <br/>
</div>

