<%= stylesheet_link_tag "projects"%>

<!-- text stuff -->
<div class="pt-5 mt-5">
    <div class="container">
        <div class='row m-5 p-5 align-items-center'>
            <div class="col">
                <%= image_tag "projects/portfolio/firstdesign.png", class: "projectpic hidden rounded"%>
                <br/>
            </div>

            <div class="col float-text">
                <h1 class="hidden right-slide font-monospace" style="font-size:50px;">How this idea...</h2>
                <p style="color:white;"><b>Born from the mind's eye</b> of a (then) Automotive-Engineer in his spare time.
                <b>Dreaming</b> of becoming involved in the programming eco-system</p>
            </div>
        </div>
    </div>
    <br class="m-5 p-5"/>
    <div class="container">
        <div class='row m-5 p-5 align-items-center'>
            <div class="col float-text">
                <h1 class="hidden left-slide font-monospace" style="font-size:50px;">Became This!</h2>
                <p style="color:white;">A Reactive, Responsive Ruby-on-Rails website Fuelled by <b>Hotwire & Javascript</b>
                for showcasing the work <b>I am proud to be part of!</b></p>
            </div>
            <div class="col" style="right:20vw;text-align:center;">
                <%= image_tag "projects/portfolio/portfinish.png", class: "projectpic portfinish hidden rounded"%>
                <br/>
            </div>
        </div>
    </div>

    <!-- GITHUB LINK -->
    <div class="text-center">
        <%= link_to "https://github.com/JPGIODevs/Portfolio", class: "link" do %>
            <h2 class="font-monospace mt-3 pt-3 gitlink">
                <%= image_tag "https://cdn-icons-png.flaticon.com/512/1322/1322104.png", class: "giticon"%>
                Link to Github Reposititory
            </h2>
        <% end %>
    </div>

    <!-- glassy div with picture -->
    <div class="glasscontainer hidden mt-5 pt-5">
        <div class="container">
            <h1><b>Steaming ahead! With Ruby-on-Rails 🛤️</b></h1>
            <h1 id="secondaryh1">old is gold <b>🏅</b></h1>
            <hr/>
            <h5 class="mt-5 font-monospace pb-5">Utilising a mix of <b>Rails 7, Bootstrap 5</b> and some old-fashioned <b>HTML/CSS/JS</b>,
            I have created a personal portfolio website that is <b>Not-Only visually stunning</b>
            but also, thanks to the <b>Hotwire Frontend</b>, is also responsive, reactive and <i>fast!</i>
            <b>Over a period of a couple months</b>, I taught myself the fine details of Rails development
            and nurtued the skill of MVC web development <b>alongside Turbo Frames & Streams.</b>
            So much so, infact, that I created <span><a href=""><b>Manifold Chat</b></a></span> Utilising
            Rails & Hotwire alongside TailwindCSS.
            </h5>
        </div>
        <br/>
        <%= image_tag "projects/portfolio/webpic.png", class: "projectwebpic pb-3 mb-3 rounded hidden", alt: "webpic" %>
    </div>
</div>
<!-- REASONS DIV + 2 COL -->
<div class="container mt-5 pt-5 mb-5 pb-5 leftdiv">
    <div id="inner div" class="hidden left-slide">
        <h1 class="gradient">THE REASON</h1>
        <p>~</p>
        <h5 class="secondarytext">An insight to the technologies I employ on this website, and what that may mean for you!</h5>
        <hr/>
        <h5><b>Many consider Rails dead...</b> I believe it to be more alive than ever!</h5>
        <p>Many people jumped ship to solutions such as <b>Node.js & React</b> causing people to assume rails was dead... I believe the contrary.
        <br/>
        <span><a href="https://insights.stackoverflow.com/survey/2021#overview"><b>The Stackoverflow developer survey 2022</b></a></span>
        showed a <b>6-7% uptake of Ruby and RoR usage</b> which indicates a lively technology to me! Couple this with the
        <b>huge collection of Gems(libaries), mature codebase and documentation</b> and we have a lively
        web development technology!</p>
        <br/>

        <h5><b>Hotwire also adds HUGE value to Rails</b>, providing HTML-centric approach to Responsive & Reactive webapps.</h5>
        <p>The use of Turbo and Stimulus, alongside the Sprockets asset-pipeline, provides an experience of similiar
        speed to a single-page app, without the indoctrination required for said single-page development!
        With all theese advantages, <b>fast development & scalability is made easy with Rails!</b></p>
        <br/>
    </div>
    <div class='row mt-3 pt-3 hidden right-slide'>
        <div class="col">
            <%= image_tag "projects/portfolio/techs.png", class: "rounded about-img w-100", alt: "technologies" %>
            <br/>
        </div>
        <div class="col about-desc rightdiv">
            <h2 style="margin-bottom:15px; font-monospace"><b>Other technologies 🤖</b></h2>
            <p>Ontop of the usual Rails setup, I aimed to make development as fast & functional as possible, utlising
            other technologies to <b>Supercharge</b> my website in a time-frame that was acceptable!
            <br/>

            <h5>First is <b>Styling.</b></h5>
            <p>I used a combination of <b>Bootstrap 5 & ScSS</b>. Having had a background in CSS already,
            I saw it to be more practical to build upon the knowledge rather than to relearn the art using, persay,
            <b>TailwindCSS</b>. This made my custom styling <b>faster and Cleaner</b> as I utilised the nesting available in ScSS.</p>
            <br/>

            <h5>Second is <b>Data Storage.</b></h5>
            <p>In order to facilitate email forms, and <b>my live-chat</b>, <span><%= link_to "Found Here :)", projects_manifold_path%></span>,
            I needed a database. In my experience, <b>SQLite3</b> works well for light-to-medium applications and even <b>outperforms MySQL & Postgres
            in read-heavy applications.</b> As such, I chose said SQLite3 database and associated gems in use in my project, which <b>performed perfectly
            and integrated seemlessly!</b></p>
        </div>
  </div>
</div>

<!-- results div + 2 col -->
<div class="mt-5 pt-5 mb-5 pb-5 glasscontainer">
    <div id="inner div" class="container hidden right-slide rightdiv">
        <h1 class="gradient">THE RESULT</h1>
        <p>~</p>
        <h5 class="secondarytext">What it was I created, and How it performed!</h5>
        <hr/>
        <p>With some tinkering, including Rails/Hotwire mastery and hours of efficiency fixes for instance, eventually my fully-fledged Rails Portfolio was hosted
        and delivered via <span><%= link_to "Hatchbox.io", "https://hatchbox.io" %></span> to much of my own elation! <br/>
        Overall, I was very pleased with the Rails development experience and how fast the turn-over was, even for a then-Novice Rails developer.<br/>
        The Use of Hotwire Frontend also made the application snappy and I couldnt be happier with the website's performance, even
        if it is a low-traffic portfolio website.</p>
        <br/>
    </div>

    <div id="exemplarcarousel" class="carousel slide carousel-fade text-center" data-bs-ride="carousel">
        <br/>
        <h5 class="mb-3 pb-3">Below is a compilation of my <b>Rails-Powered Website!</b></h5>
        <div class="carousel-inner exemplarcontainer text-center rounded">
            <div class="carousel-item active">
                <%= image_tag "projects/portfolio/portcarousel/home1.png", class: "d-block w-100", alt: "Home1" %>
            </div>
            <div class="carousel-item">
                <%= image_tag "projects/portfolio/portcarousel/home2.png", class: "d-block w-100", alt: "Home2" %>
            </div>
            <div class="carousel-item">
                <%= image_tag "projects/portfolio/portcarousel/home3.png", class: "d-block w-100", alt: "Home3" %>
            </div>
            <div class="carousel-item">
                <%= image_tag "projects/portfolio/portcarousel/contacts.png", class: "d-block w-100", alt: "contacts" %>
            </div>
            <div class="carousel-item">
                <img src="https://www.thames-exams.co.uk/wp-content/uploads/2018/01/Placeholder.png" class="d-block w-100" alt="Contacts">
            </div>
        </div>
    </div>
</div>

<!-- retrospective div + 2 col -->
<div class="container mt-5 pt-5 mb-5 pb-5 leftdiv">
    <div id="inner div" class="hidden left-slide">
        <h1 class="left-slide gradient">THE RETROSPECTIVE</h1>
        <p>~</p>
        <h5 class="secondarytext">The Good, Bad, Ugly & All the inbetween + How I Learned from it</h5>
        <hr/>
        <p>To assume, as <b>likely-fellow engineers, solution and development makers</b>, I will format my learnings and major
        problems in the <b>form of list with sections: Problem, fix, learnt lesson.</b></p>
        <br/>
        <ul>
            <li>
                <h5>Lack of documentation for Rails 7 by comparison to other modern frameworks (Django, React, Vue.js)</h5>
                <p>From what I understand, Rails implements new features in updates in a faster-than-usual manor.
                This leads to old methodologies and codebases being left obsolete, after an update. This essentially removes
                all documentation and without the hypetrain behind rails to entice junior developers, there is no demand and
                thus no supply of fully up-to-date documentation which makes the development experience of a junior, challenging
                at best. Despite this trouble, I intend to utilise Rails for longer as I am over much of the learning curve and
                now develop better applications, faster as opposed to an alternative such as Django or Svelte. Should this fail,
                I would considering jumping ship to another popular framework with a mature codebase such as React, Django, Angular
                or Vue whilst dabbling in modern frameworks such as Svelte.</p>
            </li>
            <li>
                <h5>Ambiguity within Hotwire (specifically Turbo) function in default Rails 7</h5>
                <p>In a similiar tune to the above problem, the lack of documentation led to a huge ambiguity in the default
                package of Rails 7 and to what extent it utilises Hotwire, Turbo & Stimulus to manage traditional tasks such as
                asset pipeline management & loading a webpage. Thanks to stackoverflow, I managed to solve an issue present
                within the asset pipeline that would have been an easy fix if only the documentation for Turbo included it.
                In future, I would consider creating said documentation to allow junior developers to better understand and uptake
                Rails development. This is the best I can do since I now have the knowledge in order to utilise Rails & Hotwire to the
                fullest!</p>
            </li>
            <li>
                <h5>CSS repetion/inefficiency</h5>
                <p>This one was fairly simple. We all know that naming CSS classes & ID's is borderline impossible without strange and
                silly personal conventions. We also know that conventional, vanilla CSS includes alot of repetition. My soltuion for this
                was to use ScSS (as opposed to SaSS). This was such that I kept my syntactically-familiar style of CSS but benefitted from
                the added features, most notable nesting. This allowed for the removal of the repetition but the paradoxical nature of naming
                said stylesheet classes & ID's still laid a mystery. In future, I would potentially use TailwindCSS in order to remove this
                issue as it forgoes the ideal of a dedicated stylesheet and approaches the idea of a more HTML-first approach to styling.
                This would work well considering Hotwire (the default Rails 7 frontend) works by the same paradigm.</p>
            </li>
        </ul>
    </div>
</div>
